//GLOBALS
$gp: 8px;
$border-radius: 4px;

//BOX SHADOW VARIABLES 
$shadow-1: 0px 0px 40px 0px rgba(0,0,0,0.125); 
$shadow-2: 0px 0px 16px 0px rgba(0,0,0,0.33);
$shadow-3: inset 0px 0px 0px 6px rgba(255,255,255,1);
$shadow-4: inset 0px 0px 2px 7px rgba(100,100,100,.2);

// COLORS
$color-darkerGray: rgb(24, 24, 24);
$color-darkGray: rgb(41, 41, 44);
$color-gray: rgb(58, 58, 58);
$color-lightGray: rgb(150, 150, 150);
$color-lighterGray: rgb(200, 200, 200);
$color-lightestGray: rgb(230, 230, 230);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

// MIXINS
@mixin bordered-box-shadow() {
    box-shadow: $shadow-2, $shadow-3, $shadow-4; 
};
@mixin box-shadow() {
    box-shadow: $shadow-1;
};

@mixin card() {
    background-color: $color-white;
    padding: $gp;
    box-shadow: $shadow-2;
}